/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE    0
#define MEDIA   1
#define NAV     2
#define MOUSE   3
#define SYM     4
#define NUM     5
#define FUN     6

#define U_NA &none

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
        U_NA            &kp Q           &kp W           &kp F           &kp P           &kp B                           &kp J           &kp L           &kp U           &kp Y           &kp SQT         U_NA
        U_NA            &kp A           &mt LALT R      &mt LCTRL S     &mt LSHFT T     &kp G                           &kp M           &mt RSHFT N     &mt RCTRL E     &mt RALT I      &kp O           U_NA
        U_NA            &mt LGUI Z      &kp X           &kp C           &kp D           &kp V                           &kp K           &kp H           &kp COMMA       &kp PERIOD      &kp FSLH        U_NA
                                                        &mo MEDIA ESC   &mo NAV TAB     &mo MOUSE SPACE                 &mo SYM RET     &mo NUM BSPC    &mo FUN DEL
                        >;
                };
        };
};
